example_test_files/
optiver_trading_at_the_close/
optiver-trading-at-the-close/
modelitos_para_despues/
Fold-cv-5/modelitos_para_despues/
NN_Models/
NN/NN_split*
Feats161/Feats161_split*
Feats162/Feats162_split*
Ensemble162/Ensemble162_split*
LGB/LGB_split*
train.csv
test.csv
*.csv
*.zip

.ipynb_checkpoints/*
.ipynb_checkpoints
*.log
.idea
.vscode
logs/*
bash_logs/*
tblogs/*
optiver2023


feature_engineering/__pycache__/

results/*

.DS_Store
*.out

results.csv

*.swp


