example_test_files/
optiver_trading_at_the_close/
modelitos_para_despues/
Fold-cv-5/modelitos_para_despues/
NN_Models/
train.csv
*.zip

.ipynb_checkpoints/*
.ipynb_checkpoints
*.log
.idea
.vscode
logs/*
tblogs/*
optiver2023


feature_engineering/__pycache__/

results/*

__pycache__/
LSTM/__pycache__/
LSTM/datasets/
LSTM/_logs/
LSTM/models/
LSTM/results/*
LSTM/*.csv
LSTM/*.json
LSTM/*.log
LSTM/models
LSTM/vae.py

random_forest/__pycache__/

Informer/seq2seq.py
Informer/__pycache__/
Informer/attn.py
Informer/encoder.py
Informer/decoder.py
Informer/exp_informer.py
Informer/model.py
Informer/embed.py
Informer/gsgcn.py


Autoformer/seq2seq.py
Autoformer/Autoformer2.py
Autoformer/attn.py
Autoformer/__pycache__/
Autoformer/AutoCorrelation.py
Autoformer/Autoformer_EncDec.py
Autoformer/informer.py
Autoformer/model.py
Autoformer/Embed.py
Autoformer/gsgcn.py
Autoformer/run.py
Autoformer/*.bak


Seq2seq/models/
Seq2seq/__pycache__/
Seq2seq/results/*
Seq2seq/*.log

Attention/models/
Attention/results/*
Attention/__pycache__/
Attention/*.log


*.out

results.csv

*.swp


